<section class="educacion oscuro">
    <div class="container-fluid text-center">
        <h2 class="educacion fw-bold"> Educación</h2>
        <div class="row">
            <div class="col-12  col-md-2">
               <img src="assets/img/x-men.jpg" class="imagen" id="xmen" alt="">
            </div>
            <div class="col-12  col-md-10 " id="descript">
                Egresado de The Xavier Institute for Higher Learning, camada 1991.
            </div>
            <div class="col-12  col-md-2">
                <img src="assets/img/stacadenmy.png" class="gl" alt="">
            </div>
           <div class="col-12  col-md-10" id="descript">
                Egresado como primero de a bordo, designado a la nave USS Enterprise (NCC-1701-D).
            </div>
            <div class="col-12  col-md-2">
                <img src="assets/img/gl.png" class="gl" alt="">
            </div>
            <div class="col-12  col-md-10" id="descript">
                Bootcamp con los Green Lantern Corps. Referencia : Planeta OA.
            </div>
        </div>
    </div>
</section>