<section class="proyectos">
    <div class="container-fluid "id="veo">
        <h2 class="seccion-titulo">Proyectos</h2>
        <div class="row">
            <div class="col-lg-4">
                <img src="assets/img/proximamente.jpg" id="proximamente" alt="">
            </div>
            <div class="col-lg-4">
                <img src="assets/img/proximamente.jpg" id="proximamente" alt="">
            </div>
            <div class="col-lg-4">
                <img src="assets/img/proximamente.jpg" id="proximamente" alt="">
            </div>
        </div>
    </div>
</section>
