<section class="explab claro">
    <div class="container-fluid text-center">
        <h2 class="explab fw-bold"> Experiencia</h2>
        <div class="row">
            <div class="col-12  col-md-2">
               <img src="assets/img/icons8-nasa-144.png" class="imagen" alt="">
            </div>
            <div class="col-12  col-md-10 " id="descript">
                <p class="lorem">Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium sint minima nostrum impedit repellat tempore exercitationem molestias quam eveniet quibusdam! Voluptas itaque possimus dolores quos eveniet ullam accusantium, aliquam voluptate?</p>
            </div>
            <div class="col-12  col-md-2">
                <img src="assets/img/pngwing.com(1).png" class="imagen" alt="">
            </div>
           <div class="col-12 bg-white col-md-10" id="descript">
                <p class="lorem">Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium sint minima nostrum impedit repellat tempore exercitationem molestias quam eveniet quibusdam! Voluptas itaque possimus dolores quos eveniet ullam accusantium, aliquam voluptate?</p>
            </div>
            <div class="col-12  col-md-2">
                <img src="assets/img/pngwing.com(2).png" class="empire" alt="">
            </div>
            <div class="col-12  col-md-10" id="descript">
                <p class="lorem">Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium sint minima nostrum impedit repellat tempore exercitationem molestias quam eveniet quibusdam! Voluptas itaque possimus dolores quos eveniet ullam accusantium, aliquam voluptate?</p>
            </div>
        </div>
    </div>
</section>